In [1]:
#Import libraries
import pandas as pd
from pathlib import Path
import warnings
warnings.filterwarnings(action='ignore')
import numpy as np
import matplotlib.pyplot as plt



# Store filepath in a variable
file = Path("Resources/NewYorkAirBnB.csv")
file_df = pd.read_csv(file)
file_df.head()

,id,host_id,host_name,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,...,bedrooms,beds,price,number_of_reviews,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,8.017500e+17,495455523,Michael,Canarsie,Brooklyn,40.640403,-73.888535,Private room in home,Private room,2,...,1.0,1.0,$143.00,0,NaN,NaN,NaN,NaN,NaN,NaN
1,7.659490e+17,488760226,Eric,Canarsie,Brooklyn,40.648510,-73.894330,Private room in rental unit,Private room,1,...,1.0,1.0,$30.00,13,4.77,4.77,4.85,4.92,4.85,4.92
2,6.362740e+17,461263600,Tommaso,Tottenville,Staten Island,40.507114,-74.251907,Entire villa,Entire home/apt,6,...,2.0,2.0,$157.00,0,NaN,NaN,NaN,NaN,NaN,NaN
3,7.681250e+17,475699129,Suliman,Sheepshead Bay,Brooklyn,40.583490,-73.959880,Private room in home,Private room,2,...,3.0,1.0,$89.00,15,5.00,4.87,5.00,5.00,5.00,5.00
4,4.924826e+07,397288055,Katherine,North Riverdale,Bronx,40.903260,-73.907090,Entire rental unit,Entire home/apt,3,...,2.0,2.0,$125.00,25,4.56,4.44,4.72,4.88,4.72,4.64

In [21]:
#getting thoes colunms which is required for analysis of hosts 

file_df_filter=file_df.loc[:,['host_id','host_name','price','number_of_reviews','neighbourhood_cleansed','neighbourhood_group_cleansed','review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_value','review_scores_location']]
file_df_filter

,host_id,host_name,price,number_of_reviews,neighbourhood_cleansed,neighbourhood_group_cleansed,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_value,review_scores_location
0,495455523,Michael,$143.00,0,Canarsie,Brooklyn,NaN,NaN,NaN,NaN,NaN
1,488760226,Eric,$30.00,13,Canarsie,Brooklyn,4.77,4.77,4.85,4.92,4.85
2,461263600,Tommaso,$157.00,0,Tottenville,Staten Island,NaN,NaN,NaN,NaN,NaN
3,475699129,Suliman,$89.00,15,Sheepshead Bay,Brooklyn,5.00,4.87,5.00,5.00,5.00
4,397288055,Katherine,$125.00,25,North Riverdale,Bronx,4.56,4.44,4.72,4.64,4.72
...,...,...,...,...,...,...,...,...,...,...,...
42926,90429772,Hanna,$85.00,0,East Village,Manhattan,NaN,NaN,NaN,NaN,NaN
42927,264962468,Mili,$208.00,217,Hell's Kitchen,Manhattan,4.58,4.41,4.65,4.51,4.91
42928,305489297,Stavros,$125.00,7,Lower East Side,Manhattan,4.43,3.29,4.86,4.14,5.00
42929,6600525,Quentin,$50.00,0,Bushwick,Brooklyn,NaN,NaN,NaN,NaN,NaN
42930,219517861,Sonder (NYC),$338.00,82,Flatiron District,Manhattan,4.73,4.67,4.65,4.55,4.90

In [22]:
#checking total of null or NAN values or unknown data 
file_df.isnull().sum()

id                                  0
host_id                             0
host_name                           5
neighbourhood_cleansed              0
neighbourhood_group_cleansed        0
latitude                            0
longitude                           0
property_type                       0
room_type                           0
accommodates                        0
bathrooms_text                     75
bedrooms                         3874
beds                              929
price                               0
number_of_reviews                   0
review_scores_accuracy          10739
review_scores_cleanliness       10729
review_scores_checkin           10743
review_scores_communication     10734
review_scores_location          10746
review_scores_value             10746
dtype: int64

In [23]:
#converting NAN value to 0.00 ex : for "review_scores_value"
file_df_filter.fillna({'review_scores_value':0}, inplace=True)
file_df_filter.dropna(subset=['host_name'],inplace=True)
file_df_filter.head()

,host_id,host_name,price,number_of_reviews,neighbourhood_cleansed,neighbourhood_group_cleansed,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_value,review_scores_location
0,495455523,Michael,$143.00,0,Canarsie,Brooklyn,NaN,NaN,NaN,0.00,NaN
1,488760226,Eric,$30.00,13,Canarsie,Brooklyn,4.77,4.77,4.85,4.92,4.85
2,461263600,Tommaso,$157.00,0,Tottenville,Staten Island,NaN,NaN,NaN,0.00,NaN
3,475699129,Suliman,$89.00,15,Sheepshead Bay,Brooklyn,5.00,4.87,5.00,5.00,5.00
4,397288055,Katherine,$125.00,25,North Riverdale,Bronx,4.56,4.44,4.72,4.64,4.72

In [24]:
#checking null or NAN values or unknown data after the updating review score value to 0.00
file_df_filter.isnull().sum()

host_id                             0
host_name                           0
price                               0
number_of_reviews                   0
neighbourhood_cleansed              0
neighbourhood_group_cleansed        0
review_scores_accuracy          10735
review_scores_cleanliness       10725
review_scores_checkin           10739
review_scores_value                 0
review_scores_location          10742
dtype: int64

In [25]:
#filtered and clean data.
print(type(file_df_filter["host_id"]))
print(type(file_df_filter['host_name']))
print(type(file_df_filter["price"]))
print(type(file_df_filter["number_of_reviews"]))
print(type(file_df_filter['neighbourhood_cleansed']))
print(type(file_df_filter['neighbourhood_group_cleansed']))
print(type(file_df_filter["review_scores_accuracy"]))
print(type(file_df_filter["review_scores_cleanliness"]))
print(type(file_df_filter['review_scores_checkin']))
print(type(file_df_filter['review_scores_location']))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>