In [3]:
# Import libraries
import pandas as pd
from pathlib import Path

# Store filepath in a variable
file = Path("Resources/NewYorkAirBnB.csv")
file_df = pd.read_csv(file)
file_df

,id,host_id,host_name,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,...,bedrooms,beds,price,number_of_reviews,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,8.017500e+17,495455523,Michael,Canarsie,Brooklyn,40.640403,-73.888535,Private room in home,Private room,2,...,1.0,1.0,$143.00,0,NaN,NaN,NaN,NaN,NaN,NaN
1,7.659490e+17,488760226,Eric,Canarsie,Brooklyn,40.648510,-73.894330,Private room in rental unit,Private room,1,...,1.0,1.0,$30.00,13,4.77,4.77,4.85,4.92,4.85,4.92
2,6.362740e+17,461263600,Tommaso,Tottenville,Staten Island,40.507114,-74.251907,Entire villa,Entire home/apt,6,...,2.0,2.0,$157.00,0,NaN,NaN,NaN,NaN,NaN,NaN
3,7.681250e+17,475699129,Suliman,Sheepshead Bay,Brooklyn,40.583490,-73.959880,Private room in home,Private room,2,...,3.0,1.0,$89.00,15,5.00,4.87,5.00,5.00,5.00,5.00
4,4.924826e+07,397288055,Katherine,North Riverdale,Bronx,40.903260,-73.907090,Entire rental unit,Entire home/apt,3,...,2.0,2.0,$125.00,25,4.56,4.44,4.72,4.88,4.72,4.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42926,4.034290e+07,90429772,Hanna,East Village,Manhattan,40.726110,-73.988010,Private room in rental unit,Private room,1,...,1.0,1.0,$85.00,0,NaN,NaN,NaN,NaN,NaN,NaN
42927,3.525770e+07,264962468,Mili,Hell's Kitchen,Manhattan,40.762150,-73.990270,Entire rental unit,Entire home/apt,6,...,2.0,3.0,$208.00,217,4.58,4.41,4.65,4.75,4.91,4.51
42928,5.249152e+07,305489297,Stavros,Lower East Side,Manhattan,40.717330,-73.991110,Entire rental unit,Entire home/apt,3,...,3.0,3.0,$125.00,7,4.43,3.29,4.86,4.86,5.00,4.14
42929,4.815880e+07,6600525,Quentin,Bushwick,Brooklyn,40.687350,-73.917660,Private room in loft,Private room,1,...,6.0,1.0,$50.00,0,NaN,NaN,NaN,NaN,NaN,NaN
42930,4.831626e+07,219517861,Sonder (NYC),Flatiron District,Manhattan,40.742960,-73.990360,Room in boutique hotel,Private room,2,...,NaN,1.0,$338.00,82,4.73,4.67,4.65,4.63,4.90,4.55

In [26]:
# Copy and clean initial df for size comparisons
size_df = file_df[["id", "host_id", "property_type", "room_type", "bathrooms_text", "bedrooms", "beds", "price", "number_of_reviews", "review_scores_value"]].copy()

# Split bathroom data to enable use as int, get rid of extra columns
size_df[["baths", "shared", "bath"]] = size_df.bathrooms_text.str.split(" ", expand=True)
size_df["baths"] = size_df["baths"].replace("Half-bath", "0.5")
size_df["baths"] = size_df["baths"].replace("Private", "0.5")
size_df["baths"] = size_df["baths"].replace("Shared", "0.5")

size_df["baths"] = size_df["baths"].astype(float)
size_df = size_df[["id", "host_id", "property_type", "room_type", "baths", "bedrooms", "beds", "price", "number_of_reviews", "review_scores_value"]]

#size_df.rename(columns={"ID", "Host ID", "Property Type", "Room Type", "Baths", })
size_df

,id,host_id,property_type,room_type,baths,bedrooms,beds,price,number_of_reviews,review_scores_value
0,8.017500e+17,495455523,Private room in home,Private room,1.0,1.0,1.0,$143.00,0,NaN
1,7.659490e+17,488760226,Private room in rental unit,Private room,1.0,1.0,1.0,$30.00,13,4.92
2,6.362740e+17,461263600,Entire villa,Entire home/apt,2.0,2.0,2.0,$157.00,0,NaN
3,7.681250e+17,475699129,Private room in home,Private room,2.0,3.0,1.0,$89.00,15,5.00
4,4.924826e+07,397288055,Entire rental unit,Entire home/apt,1.0,2.0,2.0,$125.00,25,4.64
...,...,...,...,...,...,...,...,...,...,...
42926,4.034290e+07,90429772,Private room in rental unit,Private room,1.0,1.0,1.0,$85.00,0,NaN
42927,3.525770e+07,264962468,Entire rental unit,Entire home/apt,1.0,2.0,3.0,$208.00,217,4.51
42928,5.249152e+07,305489297,Entire rental unit,Entire home/apt,1.0,3.0,3.0,$125.00,7,4.14
42929,4.815880e+07,6600525,Private room in loft,Private room,2.0,6.0,1.0,$50.00,0,NaN
42930,4.831626e+07,219517861,Room in boutique hotel,Private room,1.0,NaN,1.0,$338.00,82,4.55