In [3]:
#Import libraries
import pandas as pd
from pathlib import Path
import warnings
warnings.filterwarnings(action='ignore')
import numpy as np
import matplotlib.pyplot as plt



# Store filepath in a variable
file = Path("Resources/NewYorkAirBnB.csv")
file_df = pd.read_csv(file)
file_df.head()

,id,host_id,host_name,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,...,bedrooms,beds,price,number_of_reviews,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,8.017500e+17,495455523,Michael,Canarsie,Brooklyn,40.640403,-73.888535,Private room in home,Private room,2,...,1.0,1.0,$143.00,0,NaN,NaN,NaN,NaN,NaN,NaN
1,7.659490e+17,488760226,Eric,Canarsie,Brooklyn,40.648510,-73.894330,Private room in rental unit,Private room,1,...,1.0,1.0,$30.00,13,4.77,4.77,4.85,4.92,4.85,4.92
2,6.362740e+17,461263600,Tommaso,Tottenville,Staten Island,40.507114,-74.251907,Entire villa,Entire home/apt,6,...,2.0,2.0,$157.00,0,NaN,NaN,NaN,NaN,NaN,NaN
3,7.681250e+17,475699129,Suliman,Sheepshead Bay,Brooklyn,40.583490,-73.959880,Private room in home,Private room,2,...,3.0,1.0,$89.00,15,5.00,4.87,5.00,5.00,5.00,5.00
4,4.924826e+07,397288055,Katherine,North Riverdale,Bronx,40.903260,-73.907090,Entire rental unit,Entire home/apt,3,...,2.0,2.0,$125.00,25,4.56,4.44,4.72,4.88,4.72,4.64